body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

div span {
    font-size: 40px;
    line-height: 48px;
}

div button {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}